name: Run tests

on:
  - push
  - pull_request

### While we work on the strict feature we want the tests to run even if we do put PRs against the master.
### When this work get merged into master the following should be commented in.
# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3-setuptools
          sudo pip3 install --upgrade pip
          sudo pip3 install -U pytest sh
      - name: Running addons tests
        run: |
          set -x
          sudo snap install microk8s --channel=latest/edge/strict
          sudo microk8s status --wait-ready --timeout 600
          if sudo microk8s addons repo list | grep community
          then
            sudo microk8s addons repo remove community
          fi
          sudo microk8s addons repo add community .
          export UNDER_TIME_PRESSURE="True"
          export SKIP_PROMETHEUS="False"
          sudo -E pytest -s -ra ./tests/test-addons.py
          sudo snap remove microk8s --purge
